<form action="/restaurants/3" method="patch">
  <input type="text" name="restaurant[name]" value= "Le dindin en laisse">
  <input type="number" name="restaurant[stars]">
  <input type="text" name="restaurant[address]">
  <input type="submit" value="Create restaurant">
</form>
